body {
    font-family: 'Roboto', sans-serif;
    background-color: #8d9ee3;
    color: black;
    font-size: 16px;
}

section {
    height: 80vh;

}

footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    height: auto;
}

.navbar-brand {
    font-family: 'Pattaya', sans-serif;
    font-size: 2em;
}

.social-container {
    text-align: center;
    padding: 0.75em 0;
}

.social-icons {
    padding: 0 1em;
    color: #9893ed;
}